// Navigation code here
.home {
    display: flex;
    .top {
      display: flex;
        .navbarlinks {
            display: flex;
            justify-content: flex-end;
            width: 60%;
            align-items: center;
            .links {
                color: @main-font-color;
                text-decoration: none;
        }
    }
}